<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h4>Phạm Phú Quốc</h4>
      <p>quocpp@pcdongnai.vn</p>
    </div>
    <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""> -->
    <img src="https://icon-library.net/images/icon-of-a-person/icon-of-a-person-0.jpg" alt="20067">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Chức năng</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/">
    <mat-icon>menu</mat-icon>
    Thống kê
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/posts">
    <mat-icon>menu</mat-icon>
    Tin nhắn SMS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/articles">
    <mat-icon>menu</mat-icon>
    Điện mặt trời
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Quản trị</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/role">
    <mat-icon>import_contacts</mat-icon>
    Phân quyền
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/employee">
    <mat-icon>contact_phones</mat-icon>
    Nhân viên (Users)
  </a>
</mat-nav-list>
